# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# plan files
*.plan

## terraform-workshops specific ignores
########################################
! student-environments/config/testing.yaml
student-environments/config/*

! student-environments/messages/.gitkeep
student-environments/messages/*
