# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# plan files
*.plan

## terraform-workshops specific ignores
########################################
! fundamentals/student-environments/config/testing.yaml
fundamentals/student-environments/config/*
